# WordPress Database Configuration
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=wordpress

# WordPress Configuration
WORDPRESS_DEBUG=1
WORDPRESS_URL=https://cotacao.localhost
WORDPRESS_SITEURL=https://cotacao.localhost
WORDPRESS_HOME=https://cotacao.localhost
MELHOR_INTEGRADOR_BASE_URL=https://app.localhost/wp
WORDPRESS_TITLE="Melhor Envio Cotação"
WORDPRESS_ADMIN_USER=melhorenvio
WORDPRESS_ADMIN_PASSWORD=melhorenvio
WORDPRESS_ADMIN_EMAIL=dev@melhorenvio.com

# MySQL Configuration
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=rootpassword

# Port Configuration
WORDPRESS_PORT=8000
DB_PORT=3309

# User Configuration (para evitar conflitos com usuário do host)
WWWUSER=1000
WWWGROUP=1000

# Tunnel Configuration
TUNNEL_URL=https://cotacao.lt.melhorenvio.work
TUNNEL_HOST=http://lt.melhorenvio.work
TUNNEL_SUBDOMAIN=cotacao
TUNNEL_LOCAL_HOST=wordpress
TUNNEL_PORT=80
TUNNEL_PRINT_REQUESTS=true
