*.log

wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

assets/css/admin.css.map
assets/js/admin.js
assets/js/admin.min.js
assets/js/admin.min.js.LICENSE.txt
assets/js/style.js
assets/js/style.min.js
assets/js/*.png
assets/js/*.jpeg
assets/js/*.jpg
assets/js/*.gif
assets/js/*.mp4
assets/js/*.webm

vendor/
node_modules/
package-lock.json
yarn.lock
composer.lock

.idea/

docker/.env

.cursor/
.specs/
