.table-box
  background #ffffff
  border 1px solid ghost
  border-radius 4px
  padding 15px
  margin-bottom 20px

  &.-tabbed
    border-top-left-radius 0

  &.-inative
    background transparent

    .inative-box
      text-align center
      padding 40px 0

.table
  width 100%
  text-align left
  font-size 0
  overflow hidden
  overflow-x auto

  .head li,
  .body-list li
    display inline-block
    font-size 16px
    vertical-align middle
    span
      display block
      padding 15px

  .head
    border-bottom 1px solid ghost
    font-size 0
    li
      font-weight 600

  .body
    font-size 0
    > li
      position relative
      &:after
        content ''
        position absolute
        top 0
        left 10px
        right 10px
        height 1px
        background catskillWhite
      &:first-child
        &:after
          display none

  .-center
    text-align center
