.text-box
  &.-center
    text-align center

  .ttl
    font-size 36px
    font-weight 600
    text-transform uppercase
    margin-bottom 20px
    text-align center
    color brightGray
    &.-ico
      position relative
      &.-top
        padding-top 60px
        .ico
          position absolute
          top 0
          left 50%
          transform translateX(-50%)
          size 50px

  h2
    font-size rem(16px)
    font-weight 600
    margin-bottom 10px
    &.-upper
      font-size 20px
      margin-bottom 20px
      font-weight 400
      text-transform uppercase

  p
    font-size 16px
    font-weight 500
    margin-bottom 15px
    color shuttleGray
  strong
    font-weight 600
    color brightGray

  .small
    font-size 14px
