
.container 
    display flex
    align-items center
    justify-content center
    
    &__link
        margin-left 10px
        cursor pointer
        
        &:first-child
            margin-left 0


