me-jungleGreen    = #2bc866;

me-mandy          = #e7505a;

me-vermilion      = #ff3c00;

me-neonCarrot     = #fe9037;

me-blueRibbon     = #006EE6;
me-lighYellow     = #FFC917;

me-catskillWhite  = #f2f6f9;
me-ghost          = #c8cdda;
me-paleSky        = #697882;
me-shuttleGray    = #556976;
me-brightGray     = #3b3f51;
me-ebonyClay      = #26303c;
me-endeavour      = #0550a0;
me-curiousBlue    = #3598dc;

unless me-no-conflict
  jungleGreen = me-jungleGreen;
  mandy = me-mandy;
  vermilion = me-vermilion;
  neonCarrot = me-neonCarrot;
  blueRibbon = me-blueRibbon;
  lighYellow = me-lighYellow;
  catskillWhite = me-catskillWhite;
  ghost = me-ghost;
  paleSky = me-paleSky;
  shuttleGray = me-shuttleGray;
  brightGray = me-brightGray;
  ebonyClay = me-ebonyClay;
  endeavour = me-endeavour;
  curiousBlue = me-curiousBlue;
