@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800|Open+Sans:300,400,600,800');

me-openSans = 'Open Sans', sans-serif;
me-montserrat = 'Montserrat', sans-serif;

unless me-no-conflict
  openSans = me-openSans;
  montserrat = me-montserrat;