.wpme_config
  clear fix

.wpme_options
  display inline-block
  overflow-y hidden
  overflow-x auto
  list-style-type none
  padding 0
  margin 0
  font-size 0
  li
    list-style none
    display inline-block
    padding 0
    margin 0 7px 15px 0
    color #777789

.wpme_service
  display inline-block
  float left
  width 200px
  border-radius 5px
  margin 0
  border solid 1px #cccccc
  padding 20px
  background-color #fefeff
  height 80px

.wpme_service_body
  text-align center
  img
    width 120px
    margin 10px auto

.wpme_service_header
  width 100%
  border-bottom solid 1px #cccccc
  h2
    display inline-block
    padding 0 10px
    margin 0 0 15px
    text-align center
    color #777789
    font-weight 400
    font-size 1.010rem

.wpme_flex
  display flex
  width 100%
  position relative
  padding 0
  flex 1
  order 3
  overflow-y hidden
  overflow-x auto
  .txtNoEmployee
    padding-bottom 15px

.wpme_address
  float left
  width 100%
  padding 0
  margin 0
  flex 1
  order 2
  > li
    display inline-block
    border-radius 5px
    border solid 1px #cccccc
    padding 20px
    min-width 200px
    max-width 400px
    margin 0 7px 15px 0
    background #fefeff

  .wpme_address-top
    width 100%
    border-bottom solid 1px #ddddef
    h2
      display inline-block
      padding 0 20px
      margin 0 0 15px
      text-align center
      color #777789
      font-weight 300
      font-size 1.150rem
  ul
    padding 15px 0
    li
      padding 0
      margin 0
      color #777789

.wpme_company
  text-align left
  border-radius 5px
  border solid 1px #cccccc
  padding 20px
  width 300px
  min-width 300px
  margin 15px 7px
  background #fefeff

input[type=checkbox].toggle
  margin 3px
  -webkit-appearance none
  -moz-appearance none
  color #2bf
  width 30px
  height 15px
  border-radius 2em
  background-color #888
  transition background-color 0.3s ease-in-out
  outline 0
  position relative
  &:checked
    background-color #2bf
    color #2bf
    outline 0
    &::before
      opacity 0
      outline 0
    &::after
      left 13px
      box-shadow 1px 1px 3px #888
  &::after
    content ''
    padding 0
    left 0
    top -1px
    position absolute
    background-color #fff
    border-radius 50%
    size 15px
    transform scale(1.2)
    transition 0.3s
    box-shadow 0 0 4px #555

.wpme_divtext
  display inline-block
  div
    display block
    width 220px
    padding 10px
    border-radius 5px
    border solid 1px #ccc
    margin 0 7px 15px 0
    background-color #f5f5f5
  label
    color #464646
    margin-bottom 5px
    width 100%
    display inline-block
    font-size 15px
    font-weight 700
  span
    display block
    font-size 12px
    line-height 1.1em
    margin-bottom 10px
  input
    width 100%

option
select
  font-size .650rem
  min-width 90%
  max-width 100%

.wpme_pluginconf
  display block
  width 100%
  margin auto
  label
    width 100%
    padding 3px
  div
    padding 0 0 15px 0
    display block

.addenderecos
  text-decoration none

.input_packages {
  text-align center
  width 50%
}