.grid-user {
    float:left;
    width: 100%;
    height: 200px;
    background: red;
}

.grid-user .box-data {
    float: left;
    width: 20%
    background: blue;
    height: 100%;
    margin-left: 2%;
}

.grid-user -box-data p {
    float: left;
    width: 100%;
}