// Global vars

me-no-conflict ?= false

// Default browsers version's for support
me-support-ie = me-support-ie-default = 8
me-support-firefox = me-support-firefox-default = 30
me-support-chrome = me-support-chrome-default = 30
me-support-safari = me-support-safari-default = 6
me-support-opera = me-support-opera-default = 20
me-support-ios-safari = me-support-ios-safari-default = 6
me-support-opera-mini = me-support-opera-mini-default = false
me-support-android-browser = me-support-android-browser-default = false
me-support-blackberry-browser = me-support-blackberry-browser-default = false
me-support-opera-mobile = me-support-opera-mobile-default = false
me-support-android-chrome = me-support-android-chrome-default = false
me-support-android-firefox = me-support-android-firefox-default = false
me-support-ie-mobile = me-support-ie-mobile-default = false

me-support-ignore-features = ()

me-support-media-queries = true
